name: Build Binaries

on:
  push:
    branches:
      - main
    paths-ignore:
    - '**/README.md'
    - '**/CONTRIBUTING.md'
    - '**/LICENSE-MIT'
    - '**/LICENSE-APACHE-2.0'
    - '**/.vscode/**'
    - '**/.gitignore'
    - '**/.gitattributes'
    - '**/.editorconfig'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  gen-build-version:
    name: Generate Build Version
    runs-on: ubuntu-latest
    outputs:
      build: ${{ steps.build_name.outputs.build }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get the cargo package version
        run: |
          VERSION=$(awk -F '"' '/^version =/ { print $2 }' Cargo.toml)
          echo "The package version is $VERSION"
          echo "NEXT_VERSION=$VERSION" >> $GITHUB_ENV
      - name: Set short git commit SHA
        shell: bash
        run: |
          CALCULATED_SHA=$(git rev-parse --short ${{ github.sha }})
          echo "SHA_SHORT=$CALCULATED_SHA" >> $GITHUB_ENV
      - name: Confirm git commit SHA output
        run: echo $SHA_SHORT
      - name: Confirm nightly build name
        id: build_name
        run: |
          echo $NEXT_VERSION-$SHA_SHORT
          echo build=$NEXT_VERSION-$SHA_SHORT >> $GITHUB_OUTPUT

  build-windows:
    needs: gen-build-version
    name: Build Windows
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      - name: Update build number
        run: |
          sed -i 's/Config.gameVersion = \".*\"/Config.gameVersion = \"${{ needs.gen-build-version.outputs.build }}\"/' "${env:GITHUB_WORKSPACE}/script/Config/Version.lua"
      - name: Build
        shell: bash
        run: ./build.sh
      - name: Upload binary
        uses: actions/upload-artifact@v3
        with:
          name: ltheory-bin-win32
          path: ${{github.workspace}}/bin/*
      - name: Upload binary with assets
        uses: actions/upload-artifact@v3
        with:
          name: ltheory-distro-win32
          path: |
            ${{github.workspace}}/bin/*
            !${{github.workspace}}/bin/*.pdb
            ${{github.workspace}}/docs/*
            ${{github.workspace}}/engine/lib/phx/script/*
            ${{github.workspace}}/res/*
            ${{github.workspace}}/script/*
            ${{github.workspace}}/LICENSE
            ${{github.workspace}}/README.md

  build-macos:
    needs: gen-build-version
    name: Build macOS
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: ./build.sh
      - name: Upload binary
        uses: actions/upload-artifact@v3
        with:
          name: ltheory-bin-macos
          path: ${{github.workspace}}/bin/*

  build-ubuntu:
    needs: gen-build-version
    name: Build Ubuntu 20.04
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Update packages
        run: sudo apt-get update
      - name: Install packages
        run: sudo apt-get install -y libgl1-mesa-dev libglu1-mesa-dev libasound2-dev libudev-dev
      - name: Build
        run: ./build.sh
      - name: Upload binary
        uses: actions/upload-artifact@v3
        with:
          name: ltheory-bin-ubuntu2004
          path: ${{github.workspace}}/bin/*

  release:
    name: New release
    needs:
      - gen-build-version
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
      - name: Inspect directory after downloading artifacts
        run: ls -alFR
      - name: Zip artifacts
        run: for dir in $(ls); do cd $dir && zip ../$dir.zip ./* -r && cd ..; done
      - name: echo repo
        run: echo ${{github.repository}}
      - name: Get latest release ID
        uses: octokit/request-action@v2.x
        id: get_latest_release
        with:
          route: GET /repos/${{github.repository}}/releases/tags/latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Delete latest release
        uses: octokit/request-action@v2.x
        with:
          route: DELETE /repos/${{github.repository}}/releases/{release_id}
          release_id: ${{ fromJson(steps.get_latest_release.outputs.data).id }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Delete 'latest' tag ref
        uses: octokit/request-action@v2.x
        with:
          route: DELETE /repos/${{github.repository}}/git/refs/tags/latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Re-create 'latest' tag with the current SHA
        uses: octokit/request-action@v2.x
        with:
          route: POST /repos/Limit-Theory-Redux/ltheory/git/refs
          ref: refs/tags/latest
          sha: ${{ github.sha }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: "Nightly ${{ needs.gen-build-version.outputs.build }}"
          body: "Build log: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          tag_name: "latest"
          prerelease: true
          files: ./*.zip
